.product-img{
    height: 200px;
    width: 200px;
    padding-right: 10%;   

   
    
    
}
.card-div{
    
    margin: 20px;
    border: solid 1px gray;
    padding: 20px;
    border-radius: 5px;
    
}
#buy-btn{
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30%; 
  background-color: limegreen;
  border-radius: 5px;
}
.btn-div{
    display: flex;
}
h5{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    color: maroon;
}